
.sidebar {
 /* This was taken from MRDADOU/style/style2.scss */
 display: flex;
 align-items: center;
 width: 17vw;  // was 260px

 height: auto; // was 98vh
    // adjust for page length, was removed so footer would stop cutting off the accessibility menu when the vsidebar is ver. for desktop mode.

 z-index: 100;
 background-image: url("/assets/bg/david_pokadots_2.png");
 background-size: 115px;

 /* Should I make a hor and a vert version of pokadots ? 
 background-size: cover;
 background-color: $orange;*/

 &sidebar::after, &sidebar::before {
  height: auto;
 }

 &.sidebar::after {
  width: 23vw;
}}



.tabs_box, .tab_box {
 margin: 25px;
 /*
 background-color: green; 
 */
}










/* Accessibility highlight, but the hover only */
.am-menu-items:hover {
 background-color: pink;
}