
.sidebar {
 /* This was taken from MRDADOU/style/style2.scss */
 display: flex;
 align-items: center;
 width: 17vw;  // was 260px

 height: auto; // was 98vh
    // adjust for page length, was removed so footer would stop cutting off the accessibility menu when the vsidebar is ver. for desktop mode.

 z-index: 100;
 background-image: url("/assets/bg/david_pokadots_2.png");
 background-size: 115px;

 /* Should I make a hor and a vert version of pokadots ? 
 background-size: cover;
 background-color: $orange;*/

 &sidebar::after, &sidebar::before {
  height: auto;
 }

 &.sidebar::after {
  width: 16vw;
}}

#nav_img {
 border-radius: 50%;
 width: 130px;
 background-image: url("/assets/logos/david_logo_fancy_sepia_blank_1.png");
 scale: 160%;
 margin-top: 40px;
}

.nav-link {
 //font-family: 'Reey Regular';
 //font-family: 'JINKY';
 //font-family: 'Times New Roman', Times, serif;
 font-family: 'Blokletters Balpen';
 //font-family: 'Blokletters Potlood'; too thin
 //font-family: 'Blokletters Viltstift'; Too thick
 font-weight: 700;
}

a p {

 // put the p from the sidebar into the png. This would be too much work.
 color: #025e5f;
 position: absolute;
 top: 273px; //was 240px .. Think i'll just add it to image once we know what he wants there.
 margin-top: 0px;
 margin-bottom: -1px;
}



.tabs_box, .tab_box {
 margin: 25px;
 /*
 background-color: green; 
 */
}










/* Accessibility highlight, but the hover only */
.am-menu-items:hover {
 background-color: pink;
}