

$blue: #049093;
$blueT50: #04909377;
$blueLight: #83cbcc;
$blueDark: #025e5f;
$orange: #ff640c;
$orangeLight: #fb965c;
$orangeLighter: #f9b58e;
$orangeDark: #b94909;
$yellow: #faf3a7;
$yellowLight: #f6ecc6;
$yellowLightT30: #f6ecc646;
$yellowLightT80: #f6ecc6bd;
$yellowDark: #ccbf90;
$fontWhite: white;





html {
 height: auto;

 overflow-x: hidden;
 overflow-y: scroll;
}

/*
body{
 background-color: $yellowLightT30;
 overflow-x: hidden;
 overflow-y: hidden;
}
*/
.row {min-height: 1rem;}

.hidden-hr {
  border-top: 0px solid ;
  border-bottom: 3px solid $blue;
 
 margin: 0.1rem 0;

 &.hr1{
  border-color: $yellow;
 }

 &.hr2{
  border-color: $orange;
 }
 &.hr3{
  border-color: $blue;
 }
}

.silly-hr {

 &::before, &::after {
  content: "";
  flex: 1 1;
  border-bottom: 14px double $blue;
  opacity: .4;
  margin: auto;

  -webkit-box-sizing: border-box;
    box-sizing: border-box;

 }

}

.row-main {
 display: flex;
 justify-content: center;

}

.tabs_box, .tab_box {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 
 align-content: center;
 background-color: $yellowLightT30 ;
 padding: 10px;
 width: 100vw;
 max-width: 568px;
 min-width: 300px;
 height: 75vh; /* adjust to fit more list items */
}

.tabs_disclosure, .tab_banner{
 background-color: $yellowLightT30;

 width: 65vw;
 min-height: 100px;
}

.temp-banner {
 display: flex;
 justify-content: center;
 margin-left: 4vw;
 margin-top: 4vw;
}

.banner-p, .banner-row-1 {
 margin-bottom: 5px;
}



.banner-row-2{
  margin-left: 8vw;
  margin-bottom: 5px;
 }

.tabs_list, .tab_doc {
 background-color: $yellowLightT30;
 margin: 10px;
 margin-top: 7px;
 margin-left: 7px;
 width: 56vw;
 min-width: 268px;
 max-width: 568px;
 
  &.doc_jpg{
   overflow-x:scroll;
   overflow-y: hidden;
   min-width: 268px; /* was 268px */
  }
}

.tabs_link, .tab_link {
 color: $blueDark;

 &:hover {
 background-color: $blueLight;
 }

 .link_decor {
  color: pink;
 }

 .hidden_link {
  color: #ccbf9000;
 }
}

ul, .banner-p {
 i {
  color: $orange; /* erase if he wants it to match the words */
  margin-left: 9px;
 }

 li {
  font-size: medium;   /* song names can be larger */
 }

 a{
  text-decoration: none;
  color: $orange;
  font-weight: 600;
  padding: 5px;

  &:hover {
   color: $blueDark; /*
   background-color: $orangeLight;
   Why have a second hovering reaction? Were you tired? Saving it because I need to confirm from the client meeting notes.*/
   border-radius: 3px;
  }
  &.tuning_link:hover {
   background-color: $orangeLight;
   /*Why have a second hovering reaction? Were you tired? */
  }
 }

 &.pdf {
  display: flex;
  /* fix */
 }

}



@media (min-width: 1100px){

 .tab_box {
  height: calc(35vw * 2);
  width: 900px;
 }

 .tab_doc {
  background-color: $blueT50;
  width: 65vw;
  height: calc(55vw * 1.5);
 }
}

