html {
  height: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}

/*
body{
 background-color: $yellowLightT30;
 overflow-x: hidden;
 overflow-y: hidden;
}
*/
.row {
  min-height: 1rem;
}

.hidden-hr {
  border-top: 0px solid;
  border-bottom: 3px solid #049093;
  margin: 0.1rem 0;
}

.hidden-hr.hr1 {
  border-color: #faf3a7;
}

.hidden-hr.hr2 {
  border-color: #ff640c;
}

.hidden-hr.hr3 {
  border-color: #049093;
}

.silly-hr::before, .silly-hr::after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  border-bottom: 14px double #049093;
  opacity: .4;
  margin: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tabs_box, .tab_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #f6ecc646;
  padding: 10px;
  width: 100vw;
  max-width: 568px;
  min-width: 300px;
  height: 75vh;
  /* adjust to fit more list items */
}

.tabs_disclosure, .tab_banner {
  background-color: #f6ecc646;
  width: 65vw;
  min-height: 100px;
}

.temp-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 4vw;
  margin-top: 4vw;
}

.banner-p, .banner-row-1 {
  margin-bottom: 5px;
}

.banner-row-2 {
  margin-left: 8vw;
  margin-bottom: 5px;
}

.tabs_list, .tab_doc {
  background-color: #f6ecc646;
  margin: 10px;
  margin-top: 7px;
  margin-left: 7px;
  width: 56vw;
  min-width: 268px;
  max-width: 568px;
}

.tabs_list.doc_jpg, .tab_doc.doc_jpg {
  overflow-x: scroll;
  overflow-y: hidden;
  min-width: 268px;
  /* was 268px */
}

.tabs_link, .tab_link {
  color: #025e5f;
}

.tabs_link:hover, .tab_link:hover {
  background-color: #83cbcc;
}

.tabs_link .link_decor, .tab_link .link_decor {
  color: pink;
}

.tabs_link .hidden_link, .tab_link .hidden_link {
  color: #ccbf9000;
}

ul i, .banner-p i {
  color: #ff640c;
  /* erase if he wants it to match the words */
  margin-left: 9px;
}

ul li, .banner-p li {
  font-size: medium;
  /* song names can be larger */
}

ul a, .banner-p a {
  text-decoration: none;
  color: #ff640c;
  font-weight: 600;
  padding: 5px;
}

ul a:hover, .banner-p a:hover {
  color: #025e5f;
  /*
   background-color: $orangeLight;
   Why have a second hovering reaction? Were you tired? Saving it because I need to confirm from the client meeting notes.*/
  border-radius: 3px;
}

ul a.tuning_link:hover, .banner-p a.tuning_link:hover {
  background-color: #fb965c;
  /*Why have a second hovering reaction? Were you tired? */
}

ul.pdf, .banner-p.pdf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* fix */
}

@media (min-width: 1100px) {
  .tab_box {
    height: calc(35vw * 2);
    width: 900px;
  }
  .tab_doc {
    background-color: #04909377;
    width: 65vw;
    height: calc(55vw * 1.5);
  }
}
/*# sourceMappingURL=tab_tabs.css.map */