$blue: blue;
$blueLight: lightblue;
$blueDark: darkblue;
$orange: orange;
$orangeLight: yellow;
$orangeDark: red;
$yellow: yellow;
$yellowLight: tan;
$yellowDark: brown;




body {
 background-color: $yellowLight;
}



.sidebar {
 display: flex;
 align-items: center;
}

#info_img_circle {
 border-radius: 50%;
 width: 70px;

}

#info_img_circle img{
 width: 100px;
 border-radius: 50%;
}