
$blue: #049093;
$blueT50: #04909377;
$blueLight: #83cbcc;
$blueDark: #025e5f;
$orange: #ff640c;
$orangeLight: #fb965c;
$orangeLighter: #f9b58e;
$orangeDark: #b94909;
$yellow: #faf3a7;
$yellowLight: #f6ecc6;
$yellowLightT30: #f6ecc646;
$yellowLightT80: #f6ecc6bd;
$yellowDark: #ccbf90;
$fontWhite: white;





body {
 background-color: $yellowLight;
}



.sidebar {
 display: flex;
 align-items: center;
 width: 16vw;  // was 260px
 height: 98vh;   // adjust for page length

 z-index: 100;
 background-image: url("/assets/temp/pokadots.png");
 background-size: cover;
 background-color: $orange;

 /*
 &ul {
  width: 200px;
  background-color: greenyellow;
 }
 */
}

.sidebar > * {
 z-index: 100;
}



.sidebar::after {
 z-index: 1;
 content: ""; // ::before and ::after both require content
 position: absolute;
 top: 0;
 left: 0;
 width: 15vw; // was 100%; match .sidebar width; was 260px
 height: 101vh; //.sidebar height minus footer // was 110vh
 background-image: linear-gradient(180deg, $orangeLight, $yellow);
 opacity: .7;
 box-shadow: 14px -16px 25px $orangeLighter;
}

@media (max-width: 768px) {
 // phones, windows split screen
 *{
  background-color: red;
 }
}

@media (min-width: 768px) and (max-width: 1200px) {
/*
 .sidebar {

  &ul {
   width: 100px;
  }
 }
 */

 .sidebar {
  width: 25vw;  // was 260px
  background-image: url("/assets/temp/pokadots.png");
 }
 
 
 .sidebar::after {
  width: 24vw; // was 100%; match .sidebar width; was 260px
  height: 101vh; //.sidebar height minus footer // was 110vh
  background-image: linear-gradient(360deg, $orangeLight, $yellow);
  opacity: .7;
  box-shadow: 14px -16px 25px $orangeLighter;
 }
 }

@media (min-height: 650px){
 .sidebar {
  .photocard p, a {
   font-size: x-large;
  }
 }
}

@media (max-height:650px) {
 
 .sidebar {
  width: 19vw;  // was 260px
 }
 
 
 .sidebar::after {
  width: 19vw; // was 100%; match .sidebar width; was 260px
  height: 101vh; //.sidebar height minus footer // was 110vh
 }

}


 a i {
  color: $orange;
 } 

 a p {
  color: greenyellow;
  margin-top: 4px;
  margin-bottom: -1px;
 }

 .photocard {
  color: $fontWhite;
  background-color: $blueT50;
  border-radius: 5px;
  box-shadow:inset 0px 0px 5px 0px $blueLight;
  -moz-box-shadow:inset 0px 0px 5px 0px $blueLight;
  -webkit-box-shadow:inset 0px 0px 5px 0px $blueLight;

 }
 
 .photocard p{
  font-weight: bolder;
 }


#nav_img {
 border-radius: 50%;
 width: 130px;
}

#info_img_circle img{
 width: 100px;
 border-radius: 50%;
}

.sidebar li {
 display: flex;
 justify-content: flex-start;
}

li:hover {
 //background-image: linear-gradient(360deg, $blueLight, $blueDark);
 background:  $blueLight;
 //background: radial-gradient(circle, $blueLight 0%, $blueT50 100%);
background: linear-gradient(180deg, $blueT50 15%, $blueLight 33%);
}

.cm-active {
 background-color: $orangeLighter;
 color: $fontWhite;
 & i{
  color: $blueDark;
 } & a {
   color: black;
  }
  &.cm-active:hover {
   background-color: $blueLight !important;
  }
}


.disable-hover {
 pointer-events: none;
}

/* Accessibility highlight, but the hover only */
.am-menu-items:hover, .cm-active:hover {
 background-color: $blueLight;
}

 @font-face {
  font-family: "Smokum Regular";
  src: url("/assets/smokum/Smokum-Regular.ttf");
 }

 .smokum {
  font-family: 'Smokum';
  font-weight: 600;
  font-size: larger;
  font-stretch: ultra-expanded;
 }

 @font-face {
  font-family: "Reey Regular" ;
  src: url("/assets/smokum/Reey-Regular.otf");
  font-weight: 100;
 }

 .signed {
  font-family: 'Reey Regular';
 }
 @font-face {
  //Jinky typeface by Patrick Broderick, Rotodesign, 2006
  font-family: 'JINKY';
  src: url('/assets/smokum/JINKY.ttf');
 }

 .written {
  //font-family: 'JINKY';
  //font-family: 'Blokletters Balpen';
  //font-family: 'Blokletters Potlood';
  font-family: 'Blokletters Viltstift';
 }

 @font-face {
  font-family: 'Blokletters Balpen';
  src: url('/assets/smokum/Blokletters-Balpen.ttf');
 }

 @font-face {
  font-family: 'Blokletters Potlood';
  src: url('/assets/smokum/Blokletters-Potlood.ttf');
 }

 @font-face {
  font-family: 'Blokletters Viltstift';
  src: url('/assets/smokum/Blokletters-Viltstift.ttf');
 }

.disable-highlight{ 
 -webkit-user-select:none;
 -webkit-touch-callout:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none;
 }

