body{
 background-color: #faf3a7;
}

.tabs_box {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: #faf3a7 ;
 padding: 10px;
 width: 100vw;

 
 height: 75vh; /* adjust to fit more list items */
}

.tabs_disclosure{
 background-color: #f6ecc6;
 width: 75vw;
}

.tabs_list {
 background-color: #f6ecc6;
 margin: 10px;
 width: 75vw;
}

.tabs_link {
 color: #025e5f;
}

.tabs_link:hover{
 background-color: #83cbcc;
}

ul i {
 color: #ff640c; /* erase if he wants it to match the words */
}

li{
 
 font-size: medium;   /* song names can be larger */
}

ul a {
 text-decoration: none;
 color: #ff640c;
 font-weight: 600;
 padding: 5px;
}

ul a:hover {
 color: #ff640c;
}